/* main.css */

@import url(/css/common.css);
@import url(/css/app.css);
@import url(/css/nav.css);
@import url(/css/hero.css);
@import url(/css/catalog.css);
@import url(/css/footer.css);


body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
   color: var(--primary-text-color);
   background-color: var( --primary-bg-color);
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.45rem;
}

h2 {
    font-size: 1.3rem;
}

.list-unstyled {
    list-style: none;
}
.footer-social a {
    

}