
h1, h2, h3 {
    color: #808080;
}

main {
    color: #e60202;
}

.h2 {
    color: red;
}
.heading {
font-weight: bold;
color: green;
}

ul > li {
    font-weight: bold;
}

section > p {
    color: red;
   }

   /* - Чи зміниться колір тексту p всередині елемента div? 
   Колір не зміниться так як ми змінили колір р прямого нащадка section
   */
section p {
    font-size: xx-large;
}

h2:first-of-type {
    color: indigo;
}

p.first a {
    color: green;
}
p .first a {
    color: green;
}

div ~ p {
    color: salmon;
}
/*Маємо іменовані кольори black, blue, green, red, white, yellow

визначати ці кольори за допомогою шістнадцяткового коду: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F.
визначати ці кольори у десятковій системі числення за допомогою функції RGB.
визначати ці кольори, використовуючи відсотки.
визначати ці кольори використовуючи альфа-канал, що задає прозорість.

Шіснадцятковий код hex: #000000, #0000FF, #00FF00, #FF0000, #FFFFFF, #FFFF00
Дясяткова: (0, 0, 0), (0, 0, 255), (0, 255, 0), (255, 0, 0), (255, 255, 255), (255, 255, 0)
Відсотки hsl: (0, 0%, 0%), (240, 100%, 50%), (120, 100%, 25%), (0, 100%, 50%), (0, 0%, 100%), (60, 100%, 50%)
rgba: (000, 000, 000,1), (000, 000, 255,1), (000, 255, 000,1), (255, 000, 000,1), (255, 255, 255,1), (255, 255, 000,1)
*/

.translucent-box {
    background: hsl(0deg, 100%, 50%, 0.5);
}

html {
    font-size: 1em;
}

body {
    font-size: 1.4em;
}

h1 {
    font-size: 2.4em;
}