body {
    --padding: 5vw;
    --max-width: 180ch;
  }
  
  .flexbox {
    --min: 30ch;
  
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
  
    gap: 1rem;

  }
  
  .card {
    flex: var(--min);
  }
  